* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-weight: bold;
  font-size: 20px;
  background-color: #cad0d6;
  padding-left: 30px;
}

.footer {
  font-weight: bold;
  font-size: 20px;
  background-color: #cad0d6;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}