* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-weight: bold;
  font-size: 20px;
  background-color: #cad0d6;
  padding-left: 30px;
}

.footer {
position: fixed;
  left: auto;
  bottom: 0;
  display: flex;
  font-size: medium;
  justify-content: center;
  top: auto;
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 100%, 0.35);
  background-color: #edf5d9;
  z-index: 10;
  cursor: pointer;
}